<?xml version="1.0"?>
<configuration>
  
  
<configSections> </configSections>

<connectionStrings>


  <add name="A3ConnectionString" connectionString="Server=MARS; Database=Budget; Trusted_Connection=True; " />

  <add name="A3ConnectionString_ZO" connectionString="Server=MARS; Database=Budget; User ID=zorin; Password=zori1421;" providerName="System.Data.SqlClient" />
  <add name="A3ConnectionString_BU" connectionString="Server=MARS; Database=Budget; User ID=burtsev; Password=bur4707;" providerName="System.Data.SqlClient" />
  <add name="A3ConnectionString_BL" connectionString="Server=MARS; Database=Budget; User ID=blagochinnov; Password=Blago1530pk;" providerName="System.Data.SqlClient" />

</connectionStrings>
    
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>


</configuration>


